altair                
attrs                 
beautifulsoup4       
blinker               
bs4                   
cachetools           
certifi               
charset-normalizer   
click                 
colorama              
commonmark            
decorator            
entrypoints           
gitdb               
GitPython             
idna                 
importlib-metadata    
Jinja2                
joblib                
jsonschema           
lxml                 
MarkupSafe          
numpy                
packaging            
pandas                
Pillow                
pip                   
protobuf              
pyarrow               
pydeck               
Pygments            
Pympler              
pyparsing             
pyrsistent            
python-dateutil     
pytz                  
pytz-deprecation-shim 
requests              
rich                  
scikit-learn         
scipy                 
semver                
setuptools          
six                  
smmap                 
soupsieve             
streamlit             
threadpoolctl         
toml                  
toolz                 
tornado               
typing_extensions     
tzdata                
tzlocal               
Unidecode             
urllib3               
validators            
watchdog              
zipp                  